<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicando me divierto</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/gastos.js"></script>
</head>
<body>
    <div class="container-general">
     <h1>Gastos</h1>
    
    </div>
    

</body>
</html>
